@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/*
    Paleta de cores:
    390060
    25003F
    0E0017
    000000
*/
*{
    /*resetando as configurações*/
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    list-style: none;
}
main{
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: #0E0017;
    /*faz com que duas div ou tags fiquem lado-a-lado */
}
#foto_perfil{
    border-radius: 200px;
    border-style: solid;
    border-color: black;
}
.back-div{
    border-radius: 20px;
    margin: 3vw;
    background-color: #25003F;
    text-align: center;
    display: flexbox;
    max-width: 70vh;
    min-width: 350px;
}