@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/*
    Paleta de cores:
    390060
    25003F
    0E0017
    000000
*/
*{
    /*resetando as configurações*/
    box-sizing: border-box;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel', serif;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}
body{
    background-color: #220435;
    display: inline-grid;
    grid-template-columns: auto auto;
    /*faz com que duas div ou tags fiquem lado-a-lado */
}
main{
    max-width: 100%;
    
}
#foto_perfil{
    border-radius: 200px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
}
.back-div{
    font-size: 18px;
    padding: 3% 0% 3% 0%;
    border-radius: 20px;
    margin: 3vw;
    background-color: #3f026b;
    text-align: center;
}
.back-div ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /*espaçamento entra os icones e o texto*/
}
.back-div > h1{
    font-size: 30px;
}
.back-div-dois{
    padding: 3% 0% 3% 0%;
    border-radius: 20px;
    margin: 3vw;
    background-color: #3f026b;
    text-align: center;
    display: block;
    min-width: 66vw;
}
#contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resolucao-img{
    height: 40%;
    width: 40%;
    filter: drop-shadow( 0px 0px 10px #ea04ff);
}
.img-projetos{
    width: 22%;
}
ul{
    word-wrap: normal;
}
a{
    text-decoration: underline;
    color: wheat;
}
a:hover{
    color: rgb(247, 196, 102);
}
#img-ao-lado{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 700px){
    body{
        display: block;
    }
}