@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@800&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

body {
    background: url("images/bg-header-desktop.png") no-repeat;
    background-size: contain; /*faz com que a imagem fique na tela toda*/

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

header {

    margin: 4% 0% 4% 0%;

    max-width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.margin-all-header {
    margin: 2% 0% 2% 0%;
}

header img{
    width: 15%;
}

.links-dowloads{
    width: 100%;
    margin: 8% 0% 5% 0%;
}

.links-dowloads a{
    font-size: large;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 2%;
}

#cor-verde {
    margin: 2%;
    background-color: rgb(100, 231, 100);
}

#cor-azul {
    margin: 2%;
    background-color: darkblue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

main h1{
    max-width: 70%;
    margin: 0% 0% 2% 0%;
}

main > p{
    text-align: center;
    max-width: 70%;
    margin: 0% 0% 5% 0%;
}

.main-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}


.main-flex-textos h1 {
    width: 40vw;
    margin: 4% 0% 4% 10%;
}

.main-flex-textos p{
    margin: 2% 0% 10% 10%;
}

.main-flex-supercharge {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    max-width: 80vw;
    margin-bottom: 6%;
}

.main-flex-supercharge > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.margin-elementos-supercharge {
    margin: 3%;
}

.main-logo-empresas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo-empresas  img{
    height: 100%;
    margin: 8% 8% 15% 8%;
}

.links-dowloads-inferiores {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}   
.links-dowloads-inferiores a{
    font-size: large;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 1%;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    margin: 10% 0% 0% 0%;
    font-size: large;
}

li:hover {
    cursor: pointer;
    color: darkblue;
}

footer > img {
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 80%;
    margin: 1% 5% 0% 5%;
}

footer > ul {
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-evenly;
}

.footer-text-primeiro {
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
}
 
.footer-text-segundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text-terceiro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text-terceiro {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > ul > li {
    margin: 10%;
 }


.redes-socias {
    display: flex;
    justify-content:  center;
    text-align: center;
    width: 8%;
    margin: 0% 5% 0% 0%;
}

.redes-socias img {
    height: 40%;
}

.redes-socias a {
    margin: 30% 5% 0% 5%;
}

.redes-socias a:hover img {
    filter: opacity(40%) drop-shadow(0 0 0 darkblue); /*altera a cor da imagem*/
}

@media (max-width: 1000px){

    body {
        min-width: 500px;
    }

    .main-flex {
        display: flex;
        flex-direction: column;
    }

    .main-flex > img {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 80%;
    }

    .links-dowloads {
        display: flex;
        flex-direction: column;
    }

    .main-flex-textos {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-flex-textos > h1 {
        max-width: 0%;
        min-width: 300px;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 4% 0% 4% 0%;
    }
    
    .main-flex-textos p{
        margin: 0;
    }

    .main-logo-empresas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-img-resolution-mobile {
        width: 80%;
    }
    
    .main-flex-supercharge {
        flex-direction: column;
    }

    .links-dowloads-inferiores {
        flex-direction: column;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: baseline;
        align-items: center;
        flex-direction: column;
    }
    
    li {
        list-style: none;
        margin: 0% 0% 0% 0%;
        font-size: large;
    }
    
    li:hover {
        cursor: pointer;
        color: darkblue;
    }
    
    footer > img {
        justify-content: center;
        align-items: center;
        width: 10%;
        margin: 0% 0% 5% 0%;
    }

    footer > ul {
        flex-direction: column;
    }
    .footer-text-primeiro > li {
        margin: 1%;
    }

    .footer-text-segundo {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-text-segundo > li {
        margin: 1%;
    }

    .footer-text-terceiro > li {
        margin: 1%;
    }

    .redes-socias {
        width: 15%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0% 0% 10% 0%;
    }
    
    .redes-socias img {
        height: 100%;
    }
}