@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(123, 133, 139);
}

body {
    background-color: rgb(8, 4, 65);
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section {
    padding: 20px;
    width: 300px;
    height: 480px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(15, 7, 128);
    margin: auto;
    position: relative;
}

.container {
    border-radius: 10px;
    width: 100%;
    height: 58%;
    position: relative;
    overflow: hidden;
}

.nft-img {
    position: absolute;
    top: 0;
}

.nft-img-filho {
    max-width: 100%;
}

.nft-img img{
    width: 100%;
}

.img-view {
    opacity: 0;
    max-width: 45px;
}

.pai-img-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

.container:hover .pai-img-view {
    background-color: aqua;
    opacity: 0.4;
    cursor: pointer;
}   

.container:hover .img-view{
    opacity: 1;
}

.tam-img-perfil {
    width: 15%;
    border-radius: 300px;
    box-shadow: 1px 1px 5px 5px white ;
}

h1 {
    color: white;
    font-size: 25px;
}

.conteudo {
    margin: 5%;
    display: flex;
    text-align: left;
    color: white;
}

.conteudo-img {
    margin: 5%;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.conteudo-footer {
    display: flex;
    align-items: center;
    margin: 5%;
}

.conteudo-footer p {
    padding-left: 4%;
}

strong{
    color: white;
}

#cor-eth {
    color: aquamarine;
}

